*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:sans-serif;
}
header{
    background-color:#ffe100;
    height: 50px;
}
nav{
    display: flex;
    float: right;
}
nav ul{
    display: flex;
    float: right;
}
nav ul li{
    list-style: none;
    padding: 0 30px;
    margin-top: 15px;
}
nav ul li a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}